<div class="row login">
  <div class="row">
    <%= link_to t(".create_exams"), new_exam_path, class: "btn btn-danger" %>
    <%= link_to t(".my_exams"), exams_path, class: "btn btn-danger" %>
  </div>
  <div class="row">
    <%= link_to t(".create_subjects"), new_subject_path, class: "btn btn-primary" %>
  </div>
</div>
