 <style type="text/css">
 .featurette-heading {
    margin-top: 0;
 }
 </style>
 <div class="marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/exam.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Exam</h2>
          <p>Quiz-Creator has been a great tool to create online training for hundreds of employees in the world. Quiz-Creator has allowed us to provide over 3,000 sessions, anytime & anywhere.</p>
          <p><a class="btn btn-default" href="/users/sign_in" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/test.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Test</h2>
          <p>Makes training & testing super easy. You only create test , assign student to group. Quizzes are fun! Give your users a chance to play with their knowledge</p>
          <p><a class="btn btn-default" href="/users/sign_in" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/result.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Result</h2>
          <p>After the test, you can know right exam results .You don not need wait teacher check your exam .Quiz-Creator take it easily, thats right, view your result now.Join now! </p>
          <p><a class="btn btn-default" href="/users/sign_in" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Easy to use with more function <span class="text-muted">Easy to control student.</span></h2>
          <p class="lead">Manage classes and quizzes.Attach multimedia files to questions.Make quizzes in multiple languages.Access from any Internet-connected computer.Allow students to complete and review</p>
        </div>
        <div class="col-md-5">
          <%= image_tag "features_2", class: "featurette-image img-responsive center-block" %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Easy to assign exam for student. <span class="text-muted">See it now.</span></h2>
          <p class="lead">Add 3 questions or 30. Make your quiz as short or as long as you want.Reinforce what students should know by adding explanations to each question.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <%= image_tag "create-online-quiz", class: "featurette-image img-responsive center-block" %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, we can see a result. <span class="text-muted">Check now.</span></h2>
          <p class="lead">Allow students to see a feedback of the questions they got right and wrong.Sign up for a free account and give it a whirl </p>
        </div>
        <div class="col-md-5">
          <%= image_tag "integrate-quiz-exam-api", class: "featurette-image img-responsive center-block" %>
        </div>
      </div>

</div>  