<div class="row">
  <div class="box box-danger">
    <div class="box-header with-border">
      <h3 class="box-title">Student</h3>
      <div class="box-tools pull-right">
        <span class="label label-danger"><%= group.users.size %> Students</span>
      </div>
    </div>
    <div class="box-body no-padding">
      <ul class="users-list clearfix">
        <% group.users.each do |user| %>
          <li>
            <% if user.avatar_file_name.nil? %>
              <%= image_tag("noavatar", class: "img-responsive") %>
            <% else %>
              <%= image_tag user.avatar.url, class: "img-responsive" %>
            <% end %>
            <a class="users-list-name" href="#"><%= user.name %></a>
            <span class="users-list-date">Today</span>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="box-footer text-center">
      <a href="javascript:void(0)" class="uppercase">View All Users</a>
    </div>
  </div>
</div>
