<% provide :title, t("title.edit_group") %>
<div class="panel panel-primary">
  <div class="panel-heading" style="font-size:large;">
    <%= t ".edit_group" %>
  </div>
  <div class="panel-body"><%= render "form" %></div>
</div>
