<% provide :title, t("title.new_group") %>
<div class="panel panel-green" style="margin-left: -1.4%;">
  <div class="panel-heading" style="font-size:large;">
    Create new group !
  </div>
  <div class="panel-body"><%= render "form" %></div>
</div>
