<% provide :title, t("title.create_subject") %>
<div class="panel panel-primary">
  <div class="panel-heading" style="font-size:large;">
    Create new subject
  </div>
  <div class="panel-body"><%= render "form" %></div>
</div>

