@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray: #555;
$gray-darker: #222;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body{
  padding-top: 100px;
  color: #353535;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  background-color: #ecf0f5;
}

section{
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
  color: #fff;
  text-decoration: none;
  }
}
header .container {
  padding-top: 14px;
  height: 80px;
  button {
    padding: 5px 6px;
  }
  button a {
    color: white;
    text-decoration: none;
     &:hover{
      text-decoration: none;
    }
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
.sign_up{
  margin-top: 20px;
  width: 100%;
}

.alert-alert{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-notice{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#error_explanation{
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field{
  margin-top: 10px;
}

.button{
  margin-bottom: 10px;
}
.fields{
  margin-top: 10px;
  margin-bottom: 20px;
}

.custom-nav{
  a {
    color: white;
  }
  background-color: #3c8dbc;
  border-color: #3c8dbc;
  .dropdown-menu{
  
  }
}
.user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;

}
.image-class{
  height: 69.3125px !important;
}

.table-title{
  font-weight: bold;
}