@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray: #555;
$gray-darker: #222;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body{
  padding-top: 100px;
  color: #353535;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  background-color: #fff;
}

section{
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
  color: #fff;
  text-decoration: none;
  }
}
header .container {
  padding-top: 14px;
  height: 80px;
  button {
    padding: 5px 6px;
  }
  button a {
    color: white;
    text-decoration: none;
     &:hover{
      text-decoration: none;
    }
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  background-color: #15224f;
  height: 15%;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: white;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
.sign_up{
  margin-top: 20px;
  width: 100%;
}

.alert-alert{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-notice{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#error_explanation{
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field{
  margin-top: 10px;
}

.button{
  margin-bottom: 10px;
}
.fields{
  margin-top: 10px;
  margin-bottom: 20px;
}

.custom-nav{
  a {
    color: white;
  }
  background-color: #3c8dbc;
  border-color: #3c8dbc;
  .dropdown-menu{
  
  }
}
.user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;

}
.image-class{
  height: 69.3125px !important;
}

.table-title{
  font-weight: bold;
}

.user-menu {
  .dropdown-menu {
    width: 100%;
  }
}

.carousel img {
    min-width: 100%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.ml {
  margin-left: -1.4%
}

.label-assign {
  padding-top: 0.5%;
}

.custom-select {
  width: 50%;
}

.custom-primary {
  margin-left: -163%;
}