.upload{
  margin-top: 10px;
  margin-left: 65px;
}
.panel-primary > .panel-heading{
  color: #fff;
  background-color: #428bca;
  border-color: #428bca
}

.control-label{
  text-align: right;
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

form legend{
  color: #404040;
  font-size: 42px;
  font-family: 'Cookie', cursive;
  font-weight: normal;
  line-height: 1;
  text-shadow: 0 3px 0 rgba(0,0,0,0.1);
}

legend{
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  padding:0;
  width: 100%;
}

.image-exam{
  max-width: 525px;
  max-height: 200px;
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

