// Place all the styles related to the MyClass controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-bar{
  margin-top: 2%;
  margin-bottom: 2%;
  .search-class{
    padding-top: 20px;
  }
}
.timer{
  padding: 2%;
  position: fixed;
  top: 150px;
  left: 77%;
  border: 1px solid #e6e6e6;
  background-color: #ffffcc;
}

#clock{
  font-size: 50px;
}
#finish{
	position: fixed;
	top: 400px;
	left: 79.8%;
}
#search_class_input {
  width: 105%; 
}