// Place all the styles related to the MyClass controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-bar{
  margin-top: 2%;
  margin-bottom: 2%;
  .search-class{
    padding-top: 20px;
  }
}
