<% provide :title, t("title.all_user") %>
<div class="row">
  <div class="col-md-10"><h1 class="ml">All User</h1></div>
  <div class="col-md-2" style="padding-left: 6.7%;">
    <div class="btn-toolbar" style="margin-top: 10%;">
      <%= link_to  new_admin_user_path, class: "btn btn-primary" do %>
        <i class="fa fa-user-plus"></i>
        New admin
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="well user-content panel" style="margin-top: 20px;">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
            <th></th>
            <th>
              <input type="text" class="form-control" placeholder="Email" id="filter-email">
            </th>
            <th>
              <select class="form-control" id="filter-role">
                <option value="all">All</option>
                <option value="1">Customer</option>
                <option value="0">Admin</option>
              </select>
            </th>
          </tr>
          <%= render @users %>
        </tbody>
      </table>
      <div class="pagination">
        <%= paginate @users %>
      </div>
  </div>

</div>

