<div class="panel panel-green" style="margin-left: -14px;width: 102.5%;">
  <div class="panel-heading" style="font-size:large;">
    <%= t "exams.new" %>
  </div>
  <div class="panel-body"><%= render "form" %></div>
  <div class="panel-footer"></div>
</div>
