<div class="panel panel-green">
  <div class="panel-heading" style="font-size:large;">
    <%= t "exams.new" %>
  </div>
  <div class="panel-body"><%= render "form" %></div>
  <div class="panel-footer"></div>
</div>
